<!-- FOOTER -->
<footer class="footer">

<!-- MAP -->
<section class="map">

<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3112.2764303097642!2d35.4807921!3d38.734418399999996!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x152b13003069e92d%3A0x5b0c6fca1f6e09ff!2sKayseri%20Adliye%20Taksi!5e0!3m2!1str!2str!4v1777204484736!5m2!1str!2str" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

</section>



  <h3>Taksi Yolculuğunu Şimdi Planla</h3>

  <a href="tel:+905323050446" class="footer-btn">
    📞 Şimdi Ara
  </a>

  <p>Kayseri Taksi | 7/24 Hizmet</p>
</footer>